# Book-Notebook System

In [2]:
%pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.3.0-cp314-cp314-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.3.0-cp314-cp314-win_amd64.whl (72 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pyodbc

try:
    conn = pyodbc.connect(
        r"Driver={ODBC Driver 17 for SQL Server};"
        r"Server=LAPTOP-DTL19BIG\SQLEXPRESS;"
        r"Database=SchoolBooks;"
        r"Trusted_Connection=yes;"
    )

    cursor = conn.cursor()

    print("Welcome to School Book Store")

    grand_total = 0
    items = []

    while True:

        print("\n1. Buy Book")
        print("2. Buy Notebook")

        choice = input("Enter your choice (1 or 2): ")

        # BOOK SECTION
        if choice == "1":

            standard = input("Enter Standard (1st-4th / 5th-8th / 9th-10th): ")

            cursor.execute("SELECT book_id, subject, price FROM Books WHERE standard=?", standard)
            books = cursor.fetchall()

            print("\nAvailable Books:")
            for b in books:
                print("ID:", b.book_id, "|", b.subject, "| Price:", b.price)

            book_id = int(input("Enter Book ID: "))
            quantity = int(input("Enter Quantity: "))

            cursor.execute("SELECT subject, price FROM Books WHERE book_id=?", book_id)
            book = cursor.fetchone()

            if book:
                name = book.subject
                price = book.price
                total = price * quantity

                cursor.execute(
                    "INSERT INTO Orders (item_name, quantity, price, total) VALUES (?, ?, ?, ?)",
                    name, quantity, price, total
                )
                conn.commit()

                items.append((name, quantity, price, total))
                grand_total += total
            else:
                print("Invalid Book ID")

        # NOTEBOOK SECTION
        elif choice == "2":

            cursor.execute("SELECT notebook_id, type, pages, price FROM Notebooks")
            notebooks = cursor.fetchall()

            print("\nAvailable Notebooks:")
            for n in notebooks:
                print("ID:", n.notebook_id, "|", n.type, "-", n.pages, "pages | Price:", n.price)

            nb_id = int(input("Enter Notebook ID: "))
            quantity = int(input("Enter Quantity: "))

            cursor.execute("SELECT type, pages, price FROM Notebooks WHERE notebook_id=?", nb_id)
            nb = cursor.fetchone()

            if nb:
                name = nb.type + " " + str(nb.pages) + " pages"
                price = nb.price
                total = price * quantity

                cursor.execute(
                    "INSERT INTO Orders (item_name, quantity, price, total) VALUES (?, ?, ?, ?)",
                    name, quantity, price, total
                )
                conn.commit()

                items.append((name, quantity, price, total))
                grand_total += total
            else:
                print("Invalid Notebook ID")

        else:
            print("Wrong choice")

        more = input("Do you want to add more items? (yes/no): ")
        if more.lower() == "no":
            break

    
    print("\n====================================================")
    print("                    FINAL BILL                        ")
    print("====================================================")

    print(f"{'Item':30} {'Qty':5} {'Price':10} {'Total':10}")
    print("----------------------------------------------------")

    for name, qty, price, total in items:
        print(f"{name:30} {qty:<5} {price:<10.2f} {total:<10.2f}")

    print("----------------------------------------------------")
    print(f"{'Grand Total':30} {'':5} {'':10} {grand_total:<10.2f}")
    print("====================================================")

    conn.close()

except ValueError:
    print("Please enter correct number values.")

except pyodbc.Error as e:
    print("Database Error:", e)

except Exception as e:
    print("Something went wrong:", e)

Welcome to School Book Store

1. Buy Book
2. Buy Notebook

Available Books:
ID: 11 | Hindi | Price: 150.00
ID: 12 | Marathi | Price: 150.00
ID: 13 | English | Price: 150.00
ID: 14 | Science | Price: 200.00
ID: 15 | Maths | Price: 250.00

1. Buy Book
2. Buy Notebook

Available Notebooks:
ID: 1 | Square - 100 pages | Price: 40.00
ID: 2 | Square - 200 pages | Price: 70.00
ID: 3 | 4 Lines - 100 pages | Price: 30.00
ID: 4 | 4 Lines - 200 pages | Price: 50.00
ID: 5 | 2 Lines - 100 pages | Price: 30.00
ID: 6 | 2 Lines - 200 pages | Price: 50.00
ID: 7 | Single Line - 100 pages | Price: 60.00
ID: 8 | Single Line - 200 pages | Price: 100.00
ID: 9 | A4 Notebook - 100 pages | Price: 100.00
ID: 10 | A4 Notebook - 200 pages | Price: 180.00

====================================================
                    FINAL BILL
====================================================
Item                           Qty   Price      Total
----------------------------------------------------
Maths                          2     250.00     500.00
Square 100 pages               2     40.00      80.00
----------------------------------------------------
Grand Total                                     580.00
====================================================