In [7]:
%pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\sahil\appdata\local\programs\python\python313\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Hotel Bill Printing Task

In [ ]:
import pyodbc

conn = pyodbc.connect(
    r"Driver={ODBC Driver 17 for SQL Server};"
    r"Server=LAPTOP-DTL19BIG\SQLEXPRESS;"
    r"Database=Menu;"
    r"Trusted_Connection=yes;"
)

cursor = conn.cursor()
cursor.execute("SELECT * FROM Menu")

# records=cursor.fetchall()
# print(records)
for row in cursor:
   print(row)

(1, 'Burger', Decimal('120.00'))
(2, 'Pizza', Decimal('250.00'))
(3, 'Pasta', Decimal('180.00'))
(4, 'Cold Coffee', Decimal('90.00'))
(5, 'Sandwich', Decimal('100.00'))
(6, 'French Fries', Decimal('110.00'))
(7, 'Grilled Sandwich', Decimal('140.00'))
(8, 'Veg Biryani', Decimal('200.00'))
(9, 'Chicken Biryani', Decimal('280.00'))
(10, 'Paneer Tikka', Decimal('220.00'))
(11, 'Chicken Tikka', Decimal('300.00'))
(12, 'Momos', Decimal('130.00'))
(13, 'Masala Dosa', Decimal('150.00'))
(14, 'Tea', Decimal('30.00'))
(15, 'Ice Cream', Decimal('80.00'))

In [12]:
print("Welcome to Nil-Kamal Hotel")
print("\n----------- HOTEL MENU -----------")

cursor.execute("SELECT * FROM Menu")

for row in cursor:
    print(f"ID:{row.id} | Item:{row.item_name} | Price:Rs.{row.price}")

grand_total = 0
items = []

while True:

    item_id = int(input("\nEnter Item ID: "))
    quantity = int(input("Enter Quantity: "))

    cursor.execute("SELECT item_name, price FROM Menu WHERE id=?", item_id)
    item = cursor.fetchone()

    if item is None:
        print("Invalid Item ID")
    else:
        item_name = item.item_name
        price = item.price
        total = price * quantity

        #insert in database
        cursor.execute(
            "INSERT INTO Orders (item_id, quantity, price, total) VALUES (?, ?, ?, ?)",
            item_id, quantity, price, total
        )
        conn.commit() #save in database

        items.append((item_name, quantity, price, total)) # Store for final bill
        grand_total += total

    choice = input("Do you want to order more? (yes/no): ")
    if choice.lower() == "no":
        break


# Printing Bill
print("\n=========== BILL ===========")

for i in items:
    print("Item:", i[0], "| Qty:", i[1], "| Price:", i[2], "| Total:", i[3])

print("----------------------------------")
print("Grand Total:", grand_total)

conn.close()

Welcome to Nil-Kamal Hotel

----------- HOTEL MENU -----------
ID:1 | Item:Burger | Price:Rs.120.00
ID:2 | Item:Pizza | Price:Rs.250.00
ID:3 | Item:Pasta | Price:Rs.180.00
ID:4 | Item:Cold Coffee | Price:Rs.90.00
ID:5 | Item:Sandwich | Price:Rs.100.00
ID:6 | Item:French Fries | Price:Rs.110.00
ID:7 | Item:Grilled Sandwich | Price:Rs.140.00
ID:8 | Item:Veg Biryani | Price:Rs.200.00
ID:9 | Item:Chicken Biryani | Price:Rs.280.00
ID:10 | Item:Paneer Tikka | Price:Rs.220.00
ID:11 | Item:Chicken Tikka | Price:Rs.300.00
ID:12 | Item:Momos | Price:Rs.130.00
ID:13 | Item:Masala Dosa | Price:Rs.150.00
ID:14 | Item:Tea | Price:Rs.30.00
ID:15 | Item:Ice Cream | Price:Rs.80.00

=========== BILL ===========
Item: French Fries | Qty: 1 | Price: 110.00 | Total: 110.00
Item: Grilled Sandwich | Qty: 2 | Price: 140.00 | Total: 280.00
Item: Cold Coffee | Qty: 2 | Price: 90.00 | Total: 180.00
----------------------------------
Grand Total: 570.00