#LIST COMPREHENSION

In [ ]:
# 1. Generate squares of numbers from 1 to 10.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 2. Create a list of even numbers between 1 and 50.
even_numbers = [x for x in range(1, 51) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
# 3. Convert all strings in a list to uppercase.
a = input("Enter words separated by space: ").split()
b = [i.upper() for i in a]
print(b)

Enter words separated by space: sahil ram surya abhi mom dad
['SAHIL', 'RAM', 'SURYA', 'ABHI', 'MOM', 'DAD']

In [ ]:
# 4. Create a new list that contains only positive numbers.
a = list(map(int, input("Enter numbers: ").split()))
b = [i for i in a if i > 0]
print(b)

Enter numbers: 25 18 02 21
[25, 18, 2, 21]

In [ ]:
# 5. Create list of tuples (num, num^2) for numbers 1 to 5.
a = [(i, i**2) for i in range(1, 6)]
print(a)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# 6. Extract all vowels from a string.
a = input("Enter a string: ")
b = [i for i in a if i.lower() in "aeiou"]
print(b)

Enter a string: SAHIL
['A', 'I']

In [ ]:
# 7. Flatten a 2D list.
a = [[1,2],[3,4],[5,6]]
b = [j for i in a for j in i]
print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 8. Replace negative numbers with 0.
a = list(map(int, input("Enter numbers: ").split()))
b = [i if i > 0 else 0 for i in a]
print(b)

Enter numbers: 12 -25 15 20
[12, 0, 15, 20]

In [ ]:
# 9. Create list of lengths of each word.
a = input("Enter words: ").split()
b = [len(i) for i in a]
print(b)

Enter words: Sahil Sankeshwari Lalita
[5, 11, 6]

In [ ]:
# 10. Filter out words starting with 'A' or 'a'.
a = input("Enter words: ").split()
b = [i for i in a if not i.lower().startswith('a')]
print(b)

Enter words: Abhi Sahil Ram Aditya
['Sahil', 'Ram']

In [ ]:
# 11. Generate "even" or "odd" list.
a = list(map(int, input("Enter numbers: ").split()))
b = ["even" if i%2==0 else "odd" for i in a]
print(b)

Enter numbers: 25 18 1 2 3 4 5 6 7 8 9
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# 12. Numbers divisible by 3 and 5 in range 1–100.
a = [i for i in range(1,101) if i%3==0 and i%5==0]
print(a)

[15, 30, 45, 60, 75, 90]

In [ ]:
# 13. Multiplication table 1–5.
a = [[i*j for j in range(1,6)] for i in range(1,6)]
print(a)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [ ]:
# 14. Convert dictionary keys into list.
a = {"x":1,"y":2,"z":3}
b = [i for i in a]
print(b)

['x', 'y', 'z']

In [ ]:
# 15. Extract digits from a string.
a = input("Enter a string: ")
b = [i for i in a if i.isdigit()]
print(b)

Enter a string: Sahil2518
['2', '5', '1', '8']

In [ ]:
# 16. Remove all spaces from a string.
a = input("Enter a string: ")
b = [i for i in a if i != " "]
print("".join(b))

Enter a string: Sahil Sankeshwari
SahilSankeshwari

In [ ]:
# 17. Characters appearing more than once.
a = input("Enter a string: ")
b = [i for i in a if a.count(i) > 1]
print(list(set(b)))

Enter a string: sahilsankeshwari
['s', 'i', 'h', 'a']

In [ ]:
# 18. Generate list of all words from sentences.
a = input("Enter sentences separated by comma: ").split(",")
b = [j for i in a for j in i.split()]
print(b)

Enter sentences separated by comma: I,am,from,kolhapur,city
['I', 'am', 'from', 'kolhapur', 'city']

In [ ]:
# 19. Create list of unique elements.
a = list(map(int, input("Enter numbers: ").split()))
b = [i for i in set(a)]
print(b)

Enter numbers: 1 2 3 5 2 6 1 8 2 6
[1, 2, 3, 5, 6, 8]

In [ ]:
# 20. Generate all pairs (x,y) from two lists.
a = list(map(int, input("Enter first list: ").split()))
b = list(map(int, input("Enter second list: ").split()))
c = [(i,j) for i in a for j in b]
print(c)

Enter first list: 21 22 23 24 25
Enter second list: 31 32 33 34 35
[(21, 31), (21, 32), (21, 33), (21, 34), (21, 35), (22, 31), (22, 32), (22, 33), (22, 34), (22, 35), (23, 31), (23, 32), (23, 33), (23, 34), (23, 35), (24, 31), (24, 32), (24, 33), (24, 34), (24, 35), (25, 31), (25, 32), (25, 33), (25, 34), (25, 35)]

# LAMBDA FUNCTIONS

In [ ]:
from functools import reduce
import math

In [ ]:
# 1. Add two numbers.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = lambda x,y: x+y
print(c(a,b))

Enter first number: 25
Enter second number: 25
50

In [ ]:
# 2. Check if number is even.
a = int(input("Enter number: "))
b = lambda x: x%2==0
print(b(a))

Enter number: 25
False

In [ ]:
# 3. Get last character of string.
a = input("Enter string: ")
b = lambda x: x[-1]
print(b(a))

Enter string: Sahil
l

In [ ]:
# 4. Square every number in list.
a = list(map(int,input("Enter numbers: ").split()))
b = list(map(lambda x: x**2, a))
print(b)

Enter numbers: 1 2 3 4 5 6
[1, 4, 9, 16, 25, 36]

In [ ]:
# 5. Get only odd numbers.
a = list(map(int,input("Enter numbers: ").split()))
b = list(filter(lambda x: x%2!=0, a))
print(b)

Enter numbers: 2 3 4 5 6 7 8
[3, 5, 7]

In [ ]:
# 6. Sort list of tuples by second value.
a = [(1,3),(2,1),(4,2)]
b = sorted(a, key=lambda x: x[1])
print(b)

[(2, 1), (4, 2), (1, 3)]

In [ ]:
# 7. Check palindrome.
a = input("Enter string: ")
b = lambda x: x == x[::-1]
print(b(a))

Enter string: abba
True

In [1]:
# 8. Find maximum of three numbers.
a,b,c = map(int,input("Enter three numbers: ").split())
d = lambda x,y,z: max(x,y,z)
print(d(a,b,c))

Enter three numbers: 25 50 100
100

In [2]:
# 9. Reverse string.
a = input("Enter string: ")
b = lambda x: x[::-1]
print(b(a))

Enter string: bizmetric
cirtemzib

In [3]:
# 10. Convert list of strings to integers.
a = input("Enter numbers: ").split()
b = list(map(lambda x:int(x), a))
print(b)

Enter numbers: 50 100 200 10 150
[50, 100, 200, 10, 150]

In [4]:
# 11. Remove empty strings.
a = input("Enter words separated by space: ").split()
b = list(filter(lambda x: x!="", a))
print(b)

Enter words separated by space: Sahil N Sankeshwari Kolhapur Sankeshwar
['Sahil', 'N', 'Sankeshwari', 'Kolhapur', 'Sankeshwar']

In [7]:
# 12. Compute factorial using reduce.
from functools import reduce
a = int(input("Enter number: "))
b = reduce(lambda x,y: x*y, range(1,a+1))
print(b)

Enter number: 5
120

In [8]:
# 13. Return larger of two numbers.
a,b = map(int,input("Enter two numbers: ").split())
c = lambda x,y: x if x>y else y
print(c(a,b))

Enter two numbers: 50 51
51

In [9]:
# 14. Check divisible by 5.
a = int(input("Enter number: "))
b = lambda x: x%5==0
print(b(a))

Enter number: 25
True

In [10]:
# 15. Add 10 to each element.
a = list(map(int,input("Enter numbers: ").split()))
b = list(map(lambda x: x+10, a))
print(b)

Enter numbers: 1 2 5 10
[11, 12, 15, 20]

In [12]:
# 16. Sort list of dictionaries by age.
a = [{"name":"Sahil","age":25},{"name":"Abhi","age":20}]
b = sorted(a, key=lambda x: x["age"])
print(b)

[{'name': 'Abhi', 'age': 20}, {'name': 'Sahil', 'age': 25}]

In [13]:
# 17. Check if character is vowel.
a = input("Enter character: ")
b = lambda x: x.lower() in "aeiou"
print(b(a))

Enter character: S
False

In [16]:
# 18. Extract words length > 5.
a = input("Enter words: ").split()
b = list(filter(lambda x: len(x)>5, a))
print(b)

Enter words: Bizmetric
['Bizmetric']

In [18]:
# 19. Area of circle.
import math
a = float(input("Enter radius: "))
b = lambda x: math.pi*x*x
print(b(a))

Enter radius: 2.5
19.634954084936208

In [19]:
# 20. Remove duplicates.
a = list(map(int,input("Enter numbers: ").split()))
b = lambda x: list(set(x))
print(b(a))

Enter numbers: 1 2 5 1 2 6 3 8 3
[1, 2, 3, 5, 6, 8]

In [21]:
# 21. Product of all numbers.
a = list(map(int,input("Enter numbers: ").split()))
b = reduce(lambda x,y: x*y, a)
print(b)

Enter numbers: 5 4 1
20

In [22]:
# 22. Absolute value.
a = int(input("Enter number: "))
b = lambda x: abs(x)
print(b(a))

Enter number: -25
25

In [23]:
# 23. Sort strings by length.
a = input("Enter words: ").split()
b = sorted(a, key=lambda x: len(x))
print(b)

Enter words: Sahil Abhi ant apple
['ant', 'Abhi', 'Sahil', 'apple']

In [24]:
# 24. Get only uppercase characters.
a = input("Enter string: ")
b = [i for i in a if i.isupper()]
print(b)

Enter string: A k h S
['A', 'S']

In [26]:
# 25. Square if even, cube if odd.
a = int(input("Enter number: "))
b = lambda x: x**2 if x%2==0 else x**3
print(b(a))

Enter number: 5
125

In [27]:
# 26. Celsius to Fahrenheit.
a = float(input("Enter Celsius: "))
b = lambda x: (x*9/5)+32
print(b(a))

Enter Celsius: 24
75.2

In [28]:
# 27. Check anagrams.
a = input("Enter first string: ")
b = input("Enter second string: ")
c = lambda x,y: sorted(x)==sorted(y)
print(c(a,b))

Enter first string: race
Enter second string: care
True

In [29]:
# 28. Extract numeric values from mixed list.
a = [1,"a",3.5,"b",7]
b = list(filter(lambda x: isinstance(x,(int,float)), a))
print(b)

[1, 3.5, 7]

In [33]:
# 29. Check if any element is negative.
a = list(map(int,input("Enter numbers: ").split()))
b = any(map(lambda x: x<0, a))
print(b)

Enter numbers: 1 2 3 4 5 -6
True

In [34]:
# 30. Generate function that multiplies by n.
a = int(input("Enter multiplier: "))
b = lambda n: lambda x: x*n
c = b(a)
d = int(input("Enter number: "))
print(c(d))

Enter multiplier: 5
Enter number: 2
10