# Assignment 1  
02-Feb-2026   | DAY 1

In [ ]:
#1.
name='''Hi How are you?
        Started learing python.
        It's really interesting.'''
name[:]

"Hi How are you?\n        Started learing python.\n        It's really interesting."

In [ ]:
name[-10:-5]

'teres'

In [ ]:
name[3:12]

'How are y'

In [ ]:
name[12:3]

''

In [ ]:
name[5,6]  #its work on only integers like matrix but here are all strings

In [ ]:
name[-4:-12]

''

In [ ]:
name[::2]

"H o r o?    Satdlaigpto.    I' elyitrsig"

In [ ]:
name[::-2]

'.nteen larst    \nnhy nre ert    \nuyeawHi'

In [ ]:
#2.
l1=['a','b',20,30,'t',100,300,400,'Happy','major']
l1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
l1[::3]

['a', 30, 300, 'major']

In [ ]:
l1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
l1[-2]
l1[8]
l1[l1.index('Happy')]

'Happy'

In [ ]:
type(l1[3])

int

In [ ]:
l1[5:8]

[100, 300, 400]

In [ ]:
#3.
l2=[1,2,3,5,['a','b','work hard'],100,200,"Success"]
l2

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
l2[4]

['a', 'b', 'work hard']

In [ ]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
l2[7]

'Success'

In [ ]:
l2[7][2]

'c'

In [ ]:
l2[7][2:]

'ccess'

In [ ]:
l2[:3]

[1, 2, 3]

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
#4.
L2=[1,2,3,5,['a','b','work hard'],100,200,"Success"]
L2

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
p=L2[4][1]='BEE'
print(L2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [ ]:
#5.
del L2[4][1]
L2
#Or
L2[4].pop(1)
L2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [ ]:
#6.
L2.extend([{'insect':['bee','moth'],'bird':['parrot','sparrow']}])
L2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 'insect',
 'bird',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#7.
L2[8].get("insect")
#Or
L2[8]['insect']

['bee', 'moth']

In [ ]:
#8.
d1={'a':10,'b':20,'c':30}
L2[1]=d1
L2
#OR
L2.insert(1,d1)

[1,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#9.
L2[1]['a']
#OR
L2[1].get('a')

10

In [ ]:
#10.
l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200,"Success", (200,300, "Hundreds")]
l2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [ ]:
l2[4][2]

50

In [ ]:
l2[5][:]

'Python'

In [ ]:
l2[2][:]  #int object is not subscriptable

In [ ]:
l2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
l2[5]

'Python'

In [ ]:
l2[5][3:-1]

'ho'

In [ ]:
l2[-1]

(200, 300, 'Hundreds')

In [ ]:
l2[-4,-3]  #list indices must be integers or slices, not tuple

In [ ]:
l2[-4:-10]

[]

In [ ]:
l2[7][2]

'work hard'

In [ ]:
l2[-7][2:]

'thon'

In [ ]:
l2[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
l2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

#### IF-elif-else:
11.	Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails

If marks are more than 80 output must be “You got distinction”

For marks more than 60 output must be “You got First class”

Marks more than 40 will display “You got second class”

Marks more than or equal to 35 “PASS” Otherwise Fail

In [ ]:
#using if-else:
marks=input("Enter a marks:")
if (not marks.isalnum() and not marks.isalpha()) or marks.isdigit():
  marks=int(marks)
  if marks < 0 or marks > 100:
    print("Invalid marks")
  elif marks > 80 and marks <=100:
    print("You got distinction")
  elif marks > 60:
    print("You got First class")
  elif marks > 40 :
    print("You got second class")
  elif marks >=35:
    print("Pass")
  else:
    print("Fail")

else:
  print("Enter a valid marks pls.")

Enter a marks:56
You got second class

In [ ]:
#using function:
marks=input("Enter your marks: ")
def student(marks):
  if (not marks.isalnum() and not marks.isalpha()) or marks.isdigit():
   marks=int(marks)
   if marks < 0 or marks > 100:
     print("Invalid marks")
   elif marks > 80 and marks <=100:
     print("You got distinction")
   elif marks > 60:
     print("You got First class")
   elif marks > 40 :
     print("You got second class")
   elif marks >=35:
    print("Pass")
   else:
     print("Fail")

  else:
    print("Enter a valid marks pls.")

student(marks)

Enter your marks: 5k
Enter a valid marks pls.

In [ ]:
#use of return function
mark=input("Enter a marks: ")
def calculate(mark):
  if (not mark.isalnum() and not mark.isalpha()) or mark.isdigit():
    mark=int(mark)
    if mark > 100 or mark < 0:
      result="pls Enter a valid marks. "
    elif mark > 80 and marks <=100:
      result="You got distinction"
    elif mark > 60:
      result="You got First class"
    elif mark > 40 :
      result="You got second class"
    elif mark >=35:
      result="Pass"
    else:
      result="Fail"
  else:
    result="Enter a logoical marks yaar..."

  return result

calculate(mark)

Enter a marks: 56

'You got second class'

12.	Ask user to enter information about salary of the employee per year and rating received as A, B, C, D

If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%

If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%

If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment

If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no

In [ ]:
#simple
salary=float(input("Enter a salary per year:"))
if salary < 500000:
  rating=input("Enter increment ratings:(A/B/C/D)").upper()
  if rating=='A':
    print("Increment is 16%")
    salary=salary+salary*0.16
    print("After increment salary is: ",salary)
  elif rating=='B':
    print("Increment is 12%")
    salary=salary+salary*0.12
    print("After increment salary is: ",salary)
  elif rating=='C':
    print("Increment is 10%")
    salary=salary+salary*0.10
    print("After increment salary is: ",salary)
  else:
    print("Increment is 6%")
    salary =salary+salary *0.06
    print("After increment salary is: ",salary)

elif salary < 1000000:
  rating=input("Enter increment ratings:(A/B/C/D)").upper()
  if rating=='A':
    print("Increment is 14%")
    salary=salary+salary*0.14
    print("After increment salary is: ",salary)
  elif rating=='B':
    print("Increment is 10%")
    salary=salary+salary*0.10
    print("After increment salary is: ",salary)
  elif rating=='C':
    print("Increment is 8%")
    salary=salary+salary*0.8
    print("After increment salary is: ",salary)
  else:
    print("Increment is 6%")
    salary =salary+salary *0.06
    print("After increment salary is: ",salary)

elif salary < 1500000:
  rating=input("Enter increment ratings:(A/B/C/D)").upper()
  if rating=='A':
    print("Increment is 8%")
    salary=salary+salary*0.8
    print("After increment salary is: ",salary)
  elif rating=='B':
    print("Increment is 6%")
    salary=salary+salary*0.6
    print("After increment salary is: ",salary)
  elif rating=='C':
    print("Increment is 4%")
    salary=salary+salary*0.4
    print("After increment salary is: ",salary)
  else:
    print(" NO Increment ")

elif salary < 2300000:
  rating=input("Enter increment ratings:(A/B/C/D)").upper()
  if rating=='A':
    print("Increment is 7%")
    salary=salary+salary*0.7
    print("After increment salary is: ",salary)
  elif rating=='B':
    print("Increment is 5%")
    salary=salary+salary*0.5
    print("After increment salary is: ",salary)
  elif rating=='C':
    print("Increment is 4%")
    salary=salary+salary*0.4
    print("After increment salary is: ",salary)
  else:
    print(" NO Increment ")

Enter a salary per year:500000
Enter increment ratings:(A/B/C/D)a
Increment is 14%
After increment salary is:  570000.0

In [ ]:
# using function:
salary=float(input("Enter a salary per year:"))
def info(salary):
  if salary < 500000:
    rating=input("Enter increment ratings:(A/B/C/D)").upper()
    if rating=='A':
     print("Increment is 16%")
     salary=salary+salary*0.16
     print("After increment salary is: ",salary)
    elif rating=='B':
      print("Increment is 12%")
      salary=salary+salary*0.12
      print("After increment salary is: ",salary)
    elif rating=='C':
      print("Increment is 10%")
      salary=salary+salary*0.10
      print("After increment salary is: ",salary)
    else:
      print("Increment is 6%")
      salary =salary+salary *0.06
      print("After increment salary is: ",salary)

  elif salary < 1000000:
   rating=input("Enter increment ratings:(A/B/C/D)").upper()
   if rating=='A':
    print("Increment is 14%")
    salary=salary+salary*0.14
    print("After increment salary is: ",salary)
   elif rating=='B':
    print("Increment is 10%")
    salary=salary+salary*0.10
    print("After increment salary is: ",salary)
   elif rating=='C':
    print("Increment is 8%")
    salary=salary+salary*0.8
    print("After increment salary is: ",salary)
   else:
    print("Increment is 6%")
    salary =salary+salary *0.06
    print("After increment salary is: ",salary)

  elif salary < 1500000:
   rating=input("Enter increment ratings:(A/B/C/D)").upper()
   if rating=='A':
    print("Increment is 8%")
    salary=salary+salary*0.8
    print("After increment salary is: ",salary)
   elif rating=='B':
    print("Increment is 6%")
    salary=salary+salary*0.6
    print("After increment salary is: ",salary)
   elif rating=='C':
    print("Increment is 4%")
    salary=salary+salary*0.4
    print("After increment salary is: ",salary)
   else:
    print(" NO Increment so salary is same  ",salary)

  elif salary < 2300000:
   rating=input("Enter increment ratings:(A/B/C/D)").upper()
   if rating=='A':
    print("Increment is 7%")
    salary=salary+salary*0.7
    print("After increment salary is: ",salary)
   elif rating=='B':
    print("Increment is 5%")
    salary=salary+salary*0.5
    print("After increment salary is: ",salary)
   elif rating=='C':
    print("Increment is 4%")
    salary=salary+salary*0.4
    print("After increment salary is: ",salary)
   else:
    print(" NO Increment so salary is same ",salary)

info(salary)

Enter a salary per year:1600000
Enter increment ratings:(A/B/C/D)d
 NO Increment so salary is same  1600000.0

In [ ]:
info(salary)

Enter increment ratings:(A/B/C/D)A
Increment is 16%
After increment salary is:  5800.0

13.	Ask user to opt for courses for master degree based on the following
L1 = [“HR”, “Finance”, “Marketing”, “DS”]

Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics.
Analytics is the optional subject and having added extra fees.

DS is not having analytics.

If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.

If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .

Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.

User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

In [ ]:
L1=["HR","Finance","Marketing","DS"]
fees=200000
total=0

subject=input("Enter a subject:")
analytics=input("Is it analytics related(Yes/No) : ")
hostel=input("Are u living in hostel(yes/No): ")
food=int(input("Food: how many months? :"))
transport=input("Transportation(semester/annual) :")

if subject in L1:
    total=total+fees
    if analytics=="Yes":
      if subject != "DS":    #Analytics subject fees except DS
        total=total+fees*0.10
      else:
        print("Analytics not available for DS.")

    if hostel=="Yes":  #Hostel fees
      total=total+200000

    total=total+2000*food  #Food fees

    if transport == "semester":    #transportation
      total=total+13000
    elif transport == "annual":
      total=total+13000 * 2

    print("Total Annual Cost=",total)

else:
  print("Invalid Subject")

Enter a subject:stats
Is it analytics related(Yes/No) : no
Are u living in hostel(yes/No): no
Food: how many months? :1
Transportation(semester/annual) :semester
Invalid Subject


14.	Digitalize the book allotment process for school. Charges are mentioned here in the given table:

In [ ]:
#Simple
Books={"Hindi":{'1-4':60,'5-8':100,'9-10':150},
       "Marathi":{'1-4':60,'5-8':100,'9-10':150},
       "English":{'1-4':80,'5-8':100,'9-10':150},
       "Science":{'1-4':90,'5-8':120,'9-10':200},
       "Maths":{'1-4':100,'5-8':140,'9-10':250}}

Notebooks={"square":{100:40,200:70},
           "4lines":{100:30,200:50},
           "2lines":{100:30,200:50},
           "single lines":{100:60,200:100},
           "A4":{100:100,200:180}}

total=0
buy=input("Do you want to buy Books (Y/N) :").upper()


if buy=='Y':
 Standard=input("Enter class(1-4/5-8/9-10): ")
 subject=input("Enter subject name(Hindi/Marathi/English/Science/Maths): ").capitalize()

 price=Books[subject][Standard]
 total+=price
elif buy=='N':
  print("You can buy Notebook ! Thank you !!!")

N_buy=input("Do u want buy notesbooks(Y/N) :").upper()
if N_buy=='Y':
 note_type=input("Enter type of notebook: ")
 pages=int(input("Enter pages (100/200) :" ))

 noteprice=Notebooks[note_type][pages]
 total+=noteprice
elif N_buy=='N':
  print("Thank You !!!")

print("\nTotal amount:",total)

Do you want to buy Books (Y/N) :n
You can buy Notebook ! Thank you !!!
Do u want buy notesbooks(Y/N) :n
Thank You !!!

Total amount: 0

#Using the function
1.take input from user that ask which books you want to buy or which notebooks he wants make dictionary of that order

2. calculate overall bill

3.print bill

In [ ]:
Books = {
    "Hindi": {'1-4':60,'5-8':100,'9-10':150},
    "Marathi": {'1-4':60,'5-8':100,'9-10':150},
    "English": {'1-4':80,'5-8':100,'9-10':150},
    "Science": {'1-4':90,'5-8':120,'9-10':200},
    "Maths": {'1-4':100,'5-8':140,'9-10':250}
}

Notebooks = {
    "square":{100:40,200:70},
    "4lines":{100:30,200:50},
    "2lines":{100:30,200:50},
    "single lines":{100:60,200:100},
    "a4":{100:100,200:180}
}

receipt = {}
total_cost = 0

print("\n===== Welcome to Book Store =====")

while True:

    choice = input("\nWhat do you want to buy? (Book/Notebook): ").lower()

    # ---------------- BOOK ----------------
    if choice == "book":
        standard = input("Enter class (1-4/5-8/9-10): ")
        subject = input("Enter subject: ").capitalize()
        qty = int(input("Enter quantity: "))

        if subject in Books and standard in Books[subject]:

            unit_price = Books[subject][standard]
            item_total = unit_price * qty
            item_key = subject + " Book"

            total_cost += item_total

            receipt[item_key] = {
                "standard": standard,
                "qty": qty,
                "unit_price": unit_price,
                "total": item_total
            }

        else:
            print("Invalid Book Details!")

    # ---------------- NOTEBOOK ----------------
    elif choice == "notebook":
        note_type = input("Enter notebook type: ").lower()
        pages = int(input("Enter pages (100/200): "))
        qty = int(input("Enter quantity: "))

        if note_type in Notebooks and pages in Notebooks[note_type]:

            unit_price = Notebooks[note_type][pages]
            item_total = unit_price * qty
            item_key = note_type.capitalize() + " Notebook"

            total_cost += item_total

            receipt[item_key] = {
                "pages": pages,
                "qty": qty,
                "unit_price": unit_price,
                "total": item_total
            }

        else:
            print("Invalid Notebook Details!")

    else:
        print("Invalid Choice!")

    more = input("\nDo you want anything more? (Y/N): ").upper()
    if more != 'Y':
        break


# ----------- SHOW STORED DICTIONARY -----------
print("\nStored Receipt Dictionary:\n")
print(receipt)


# ---------------- PRINT RECEIPT ----------------
print("-"*85)
print("|{:^83}|".format("WELCOME TO BOOK STORE"))
print("|{:^83}|".format("RECEIPT"))
print("-"*85)

print("|{:^4}|{:^25}|{:^12}|{:^8}|{:^15}|".format(
    "Sr","Item","Std/Page","Qty","Total"))
print("-"*85)

for index, (item, details) in enumerate(receipt.items(), start=1):

    if "standard" in details:
        extra = details["standard"]
    else:
        extra = str(details["pages"])

    print("|{:^4}|{:^25}|{:^12}|{:^8}|{:^15.2f}|".format(
        index,
        item,
        extra,
        details["qty"],
        details["total"]
    ))

print("-"*85)
print("|{:>65} {:>15.2f} |".format("Grand Total", total_cost))
print("-"*85)

print("\nThank You for Shopping! ")

===== Welcome to Book Store =====

What do you want to buy? (Book/Notebook): book
Enter class (1-4/5-8/9-10): 9-10
Enter subject: maths
Enter quantity: 3

Do you want anything more? (Y/N): Y

What do you want to buy? (Book/Notebook): notebook
Enter notebook type: a4
Enter pages (100/200): 200
Enter quantity: 2

Do you want anything more? (Y/N): n

Stored Receipt Dictionary:

{'Maths Book': {'standard': '9-10', 'qty': 3, 'unit_price': 250, 'total': 750}, 'A4 Notebook': {'pages': 200, 'qty': 2, 'unit_price': 180, 'total': 360}}
-------------------------------------------------------------------------------------
|                               WELCOME TO BOOK STORE                               |
|                                      RECEIPT                                      |
-------------------------------------------------------------------------------------
| Sr |          Item           |  Std/Page  |  Qty   |     Total     |
-------------------------------------------------------------------------------------
| 1  |       Maths Book        |    9-10    |   3    |    750.00     |
| 2  |       A4 Notebook       |    200     |   2    |    360.00     |
-------------------------------------------------------------------------------------
|                                                      Grand Total         1110.00 |
-------------------------------------------------------------------------------------

Thank You for Shopping!

In [ ]:
receipt

[['Maths Book', 4, 1000]]

15.	Create an interest bucket for Fix Deposit in the bank. Ask user to enter start date and end date for the FD and check which bucket list it belongs to and assign the interest rate

In [ ]:
#simple way
import sys
from datetime import datetime
try:
    start = input("Enter start date (YYYY-MM-DD): ")
    end = input("Enter end date (YYYY-MM-DD): ")

    d1 = datetime.strptime(start, "%Y-%m-%d").date() #converting str to date
    d2 = datetime.strptime(end, "%Y-%m-%d").date()

    days = (d2 - d1).days

    print("Total days:", days)

    if days < 7:
        print("FD should be minimum 7 days")

    else:
        person = input("Enter type (public/senior): ").lower()

        if 7 <= days <= 45:
            if person == "public":
                print("Interest rate is 5.75%")
            elif person == "senior":
                print("Interest rate is 6.25%")

        elif 46 <= days <= 179:
            if person == "public":
                print("Interest rate is 6.25%")
            elif person == "senior":
                print("Interest rate is 6.75%")

        elif 180 <= days <= 210:
            if person == "public":
                print("Interest rate is 6.35%")
            elif person == "senior":
                print("Interest rate is 6.85%")

        elif 211 <= days < 365:
            if person == "public":
                print("Interest rate is 6.40%")
            elif person == "senior":
                print("Interest rate is 6.90%")

        elif 365 <= days < 730:
            if person == "public":
                print("Interest rate is 7.00%")
            elif person == "senior":
                print("Interest rate is 7.50%")

        elif 730 <= days < 1095:
            if person == "public":
                print("Interest rate is 6.75%")
            elif person == "senior":
                print("Interest rate is 7.25%")

        elif 1095 <= days < 1825:
            if person == "public":
                print("Interest rate is 6.70%")
            elif person == "senior":
                print("Interest rate is 7.20%")

        elif 1825 <= days <= 3650:
            if person == "public":
                print("Interest rate is 6.60%")
            elif person == "senior":
                print("Interest rate is 7.10%")

        else:
            print("Duration not available")

except:
  print(sys.exc_info())

Enter start date (YYYY-MM-DD): 2026-01-25
Enter end date (YYYY-MM-DD): 2027-01-14
Total days: 354
Enter type (public/senior): public
Interest rate is 6.40%

In [ ]:
#using dictionary
from datetime import datetime

# Take input
start = input("Enter start date (YYYY-MM-DD): ")
end = input("Enter end date (YYYY-MM-DD): ")

d1 = datetime.strptime(start, "%Y-%m-%d").date()
d2 = datetime.strptime(end, "%Y-%m-%d").date()

days = (d2 - d1).days

if days < 7:
    print("FD must be minimum 7 days")
else:
    customer = input("Enter customer type (public/senior): ").lower()
    rate_type = input("Enter rate type (existing/revised): ").lower()

    # Interest bucket data
    buckets = [
        (7, 45, 5.75, 5.75, 6.25, 6.25),
        (46, 179, 6.25, 6.25, 6.75, 6.75),
        (180, 210, 6.35, 6.35, 6.85, 6.85),
        (211, 364, 6.40, 6.40, 6.90, 6.90),
        (365, 729, 6.80, 7.00, 7.30, 7.50),
        (730, 1094, 6.80, 6.75, 7.30, 7.25),
        (1095, 1824, 6.80, 6.70, 7.30, 7.20),
        (1825, 3650, 6.85, 6.60, 7.35, 7.10)
    ]

    for bucket in buckets:
        min_d, max_d, pub_old, pub_new, sen_old, sen_new = bucket

        if min_d <= days <= max_d:

            if customer == "public":
                rate = pub_old if rate_type == "existing" else pub_new
            elif customer == "senior":
                rate = sen_old if rate_type == "existing" else sen_new
            else:
                print("Invalid customer type")
                break

            print("Interest Rate:", rate)
            break
    else:
        print("Duration not supported")

Enter start date (YYYY-MM-DD): 2026-01-25
Enter end date (YYYY-MM-DD): 2026-07-02
Enter customer type (public/senior): senior
Enter rate type (existing/revised): revised
Interest Rate: 6.75

In [ ]:
#16.
string = """In most organized forms of writing, such as essays, paragraphs contain a topic sentence.
This topic sentence of the paragraph tells the reader what the paragraph will be about.
Essays usually have multiple paragraphs that make claims to support a thesis statement, which is the central idea of the essay.    """

Type casting (Observe the errors and note it down for all conversions.)

17. int can convert to:

**int → str**

**int → float**

In [ ]:
#17.
a=100

In [ ]:
b=str(a)
type(b)
b

'100'

In [ ]:
#'int' object is not iterable so list,tuple,dict,set
l=list(a)
type(l)

t=tuple(a)
type(t)

d=dict(a)
type(d)

s=set(a)
type(s)

TypeError: 'int' object is not iterable

In [ ]:
b=float(a)
type(b)
b

100.0

In [ ]:
#18.
city="Pune"

String can convert to:

list

tuple

set

In [ ]:
#int and float :ValueError: invalid literal for int() with base 10: 'Pune'
#could not convert string to float: 'city'
type(int(city))

type(float(city))

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
type(list(city))
print(list(city))

['P', 'u', 'n', 'e']

In [ ]:
caa="pune"
tup = tuple(caa)
print(tup)

('p', 'u', 'n', 'e')

In [ ]:
a=dict(city) #ValueError: dictionary update sequence element #0 has length 1; 2 is required
type(a)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
c="pune"
s=set(c)
type(s)

set

In [ ]:
#18.
marks=[20,18,15,17,18]

List can convert to:

tuple

set

list (copy)

In [ ]:
i=int(marks)
print(type(i))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
i=float(marks)
print(type(i))

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
i=list(marks)
print(list(i))

[20, 18, 15, 17, 18]

In [ ]:
marks=[20,18,15,17,18]
i=tuple(marks)
print(type(i))

<class 'tuple'>

In [ ]:
marks=[20,18,15,17,18]
d=dict({marks})
type(d)

TypeError: unhashable type: 'list'

In [ ]:
marks=[20,18,15,17,18]
i=set(marks)
print(type(i))

<class 'set'>

**List Operations:**

In [ ]:
#10.
snames=[]
#type(snames)

In [ ]:
print(snames.append(20))
snames

None

[20]

In [ ]:
print(snames.extend([30]))

None

In [ ]:
snames

[20, 30, 50, 'w', 'o', 'r', 'k', 'work']

In [ ]:
print(snames.append(50))

None

In [ ]:
print(snames.extend(["work"]))

None

In [ ]:
combo=[1, 'a’', 'b' ,2 , 3]

In [ ]:
print(combo+snames)

[1, 'a’', 'b', 2, 3, 20, 30, 50, 'w', 'o', 'r', 'k', 'work']

In [ ]:
snames.append(combo)

In [ ]:
snames

[20,
 30,
 50,
 'w',
 'o',
 'r',
 'k',
 'work',
 [1, 'a’', 'b', 2, 3],
 1,
 'a’',
 'b',
 2,
 3]

In [ ]:
snames.extend(combo)

In [ ]:
#11.
l1=[1,2]
l3=[1,2,3,4,5,6,7]
l1.insert(3,5)
l1

[1, 2, 5]

In [ ]:
#12.
list1=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
result=[]
for i in list1:
  if isinstance(i,(int,float)):
    result.append(i)
  else:
    result.append(i)
print(result)

[1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]

In [ ]:
list1.remove('Nisha')
list1

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [ ]:
p=list1.index(20.5)
p

5

In [ ]:
#13
list(i**2 for i in range(1,11))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#14
list(n for n in range(1,200+1) if n%13==0 )

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#15
list(item for item in range(300,401) if item%4==0)

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

In [ ]:
#16
x=2
y=2

result=[[i,j] for i in range(x) for j in range(y)]

print(result)

[[0, 0], [0, 1], [1, 0], [1, 1]]

17. add() adds single element, update() adds multiple elements.

18. append() adds whole item, extend() adds elements individually.

19. pop() removes by index and returns value, remove() removes by value.

20.remove() gives error if value not found, discard() does not give error, pop() removes random element.

In [3]:
#17.
s = {1,2}
s.add(3)

s.update([4,5])
print(s)

{1, 2, 3, 4, 5}

In [4]:
#18.
l = [1,2]
l.append([3,4])
l

[1, 2, [3, 4]]

In [6]:
l.extend([3,4])
l

[1, 2, [3, 4], 3, 4, 3, 4]

In [8]:
#19.
l.remove(4)
l

[1, 2, [3, 4], 3, 4]

In [9]:
l.pop(1)

2

In [10]:
#20.
s.remove(20) #remove() gives error if value not found,

KeyError: 20

In [11]:
s.discard(20)

In [ ]:
#21.
x=set()
type(x)

set

In [ ]:
#22.
s1={1,2,3,4,'a','s'}
s2={4,'s',5,6,7,8}

print(s1|s2) #union
print(s1 & s2) #intersection
print(s1-s2) #differnce
print(s1^s2)  #symmetric difference

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 's'}
{'s', 4}
{1, 2, 3, 'a'}
{1, 2, 3, 5, 6, 7, 8, 'a'}

In [ ]:
#23.
s1={1,2,3,4,'a','s'}
l2=[12,14,15,16,17,18]
print(s1|l2) #union
print(s1 & l2) #intersection
print(s1-l2) #differnce
print(s1^l2)  #symmetric difference

#Set operations work only between sets, not list.

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [ ]:
#24.
name=input("Enter a name:").upper()
DOB=input("Enter DOB as DD-MM-YYYY:")
password=name[:4]+'@'+DOB[:2]+DOB[3:5]
print(password)

Enter a name:Suresh
Enter DOB as DD-MM-YYYY:05-05-1978
SURE@0505

In [ ]:
#25.
name=input("Enter a name:").upper()
DOB=input("Enter DOB as DD-MM-YYYY:")
password=name[:4]+'@'+DOB[6:]
print(password)

Enter a name:suresh
Enter DOB as DD-MM-YYYY:05-05-1978
SURE@1978

In [ ]:
#26.
n=4
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
#27.
n=4
for i in range(n):
  for j in range(n-i):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
#28.
str_val="ABCD"
for i in range(len(str_val)):
   for j in range(i+1):
     print(str_val[j],end=' ')
   print()

A
A B
A B C
A B C D

In [ ]:
#29.
str_val="ABCD"
for i in range(len(str_val)):
   for j in range(i+1):
     print(str_val[i],end='')
   print()

A
BB
CCC
DDDD

In [ ]:
#30.
n=4
for i in range(1,n+1):
   for j in range(i):
     print(i,end='')
   print()

1
22
333
4444

In [ ]:
#31.
val="ABCD"
rev=val[::-1]
for i in range(len(val)):
  for j in range(i+1):
    print(rev[j],end="")
  print()

D
DC
DCB
DCBA

In [ ]:
#32.
string=input("Enter a string:").upper()
rev=string[::-1]
for i in range(len(string)):
  for j in range(i+1):
    print(rev[j],end="")
  print()

Enter a string:UPGRAD
D
DA
DAR
DARG
DARGP
DARGPU

In [ ]:
#33.
#using a loop
list1=[]
for i in range(1,11):
  if i%2!=0:
    list1.append(i)
print(list1)

[1, 3, 5, 7, 9]

In [ ]:
#using comprehensive list
l1=[i for i in range(1,11) if i%2!=0]
print(l1)

[1, 3, 5, 7, 9]

In [ ]:
#34.
list1=[]
for i in range(200,251):
  if i%2==0:
    list1.append(i)
print(list1)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
#35.
List2 = [2,70,'work','para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
print(List2*2)
#Multipling it create twice of elements in list means copy of list but eaxh element in list twise

[2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5, 2, 70, 'work', 'para', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]

In [ ]:
#36.
list2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
list3=[]
for i in list2:
  if isinstance(i,(int,float,str,list,tuple)):
    list3.append(i*2)
  else:
    list3.append(i)
print(list3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [ ]:
#37.Create a function to accept marks from user utilize exception concept to validate proper marks.
def grade( ):
 while True:
    try:
      marks=float(input("Enter a marks: "))

      if marks < 0 or marks >100:
        raise Exception
      print("Succefully Done.")
      return marks
    except ValueError:
      print("Enter valid marks.")
    except Exception:
      print("Enter proper marks.")

In [ ]:
grade()

Enter a marks: 55f
Enter valid marks.
Enter a marks: 65
Succefully Done.

65.0

38.	Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name

In [ ]:
f_name=input("Enetr a first name: ").capitalize()
l_name=input("Enter a last name: ").capitalize()
def name(f_name,l_name):
  if f_name.isalpha() and l_name.isalpha():
    return f_name,l_name
  else :
    return "Enter a correct names."
name(f_name,l_name)

Enetr a first name: sahil
Enter a last name: sankeshwari

('Sahil', 'Sankeshwari')

In [ ]:
#using try / exception
def info():
  while True:
    try:
        f_name=input("Enetr a first name: ").capitalize()
        l_name=input("Enter a last name: ").capitalize()
        if not f_name.isalpha() and not l_name.isalpha():
            raise Exception
        else :
            return f_name,l_name
    except Exception:
       print("Enter valid names.")

In [ ]:
info()

Enetr a first name: sa5
Enter a last name: swws5
Enter valid names.
Enetr a first name: Sahil
Enter a last name: Sankeshwari

('Sahil', 'Sankeshwari')

39.Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

In [ ]:
mb=input("Enter a mobile number:")
def number(mb):
  if mb.isdecimal() and len(mb)==10:
    return int(mb)
  else:
    return "Enter a correct mb number."

number(mb)

Enter a mobile number:9834735092

9834735092

In [ ]:
#using Exceptions
def number():
  while True:
    try:
      mb=input("Enter a mobile number:")
      if mb.isdecimal() and len(mb)==10:
        print("Call me later.")
        return int(mb)
      else:
        raise Exception
    except Exception:
      print("Enter valid mb number.")

    #finally:
     # print("Call me later.")

In [ ]:
number()

Enter a mobile number:8645yguh
Enter valid mb number.
Enter a mobile number:8945623845623
Enter valid mb number.
Enter a mobile number:7887438088
Call me later.

7887438088

In [ ]:
##another method mam given
def val_mobile(mb):
  if mb.isdigit() and len(mb)==10:
    val=mb
    flag=True
  else:
    val="Error"
    flag=False
  return val,flag

In [ ]:
def accept_input():
  name=input("Enter the name:")
  mobile=input("Enter mobile:")

  return name,mobile

In [ ]:
input_val=accept_input()

Enter the name:sahil
Enter mobile:7887438088

In [ ]:
val_mobile('7887438088')

('7887438088', True)

40.	Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

In [ ]:
name=input("Enter a name:").upper()
DOB=input("Enter DOB(DD-MM-YYYY): ")

def generate_pass(name,DOB):
  if len(name)<4 or len(DOB)<10 or not name.isalpha():
    return "Enter a details in correct format."
  else:
    password=name[:4]+DOB[6:]
    return password

generate_pass(name,DOB)

Enter a name:sahil
Enter DOB(DD-MM-YYYY): 25-01-2003

'SAHI2003'

41.	Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.

For example:
{}
{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}

{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

In [ ]:
detail={}
def info_dict():
  while True:
    seq=len(detail)+1
    name=input("Enter a name:").capitalize()
    DOB=input("Enter DOB(DD-MM-YYYY)")
    mb=int(input("Enter a mb :"))

    detail[seq]={"name":name,"DOB":DOB,"mb":mb}

    choice=input("Do you want enter more details(Y/N) :").upper()
    if choice=='N':
      break

  return detail

In [ ]:
info_dict()

Enter a name:Sahil
Enter DOB(DD-MM-YYYY)25-01-2003
Enter a mb :7887438088
Do you want enter more details(Y/N) :y
Enter a name:Abhi
Enter DOB(DD-MM-YYYY)29-04-2003
Enter a mb :1234567892
Do you want enter more details(Y/N) :n

{1: {'name': 'Sahil', 'DOB': '25-01-2003', 'mb': 7887438088},
 2: {'name': 'Abhi', 'DOB': '29-04-2003', 'mb': 1234567892}}

In [ ]:
detail

{1: {'name': 'Sahil', 'DOB': '25-01-2003', 'mb': 7887438088},
 2: {'name': 'Abhi', 'DOB': '29-04-2003', 'mb': 1234567892}}

42.	Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

In [ ]:
#file handling
f=open("cust_info","w")
f.write(str(detail))
f.close()

43.	Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

In [ ]:
try:
    f = open("cust_info", "r")
    content = f.read()
    f.close()

    if content == "":
        detail = {}
    else:
        detail = eval(content)

except FileNotFoundError:
    detail = {}

seq = len(detail) + 1
name = input("Enter name: ")
dob = input("Enter DOB: ")
mb = input("Enter mobile: ")

detail[seq] = {"name": name, "DOB": dob, "mb": mb}

f = open("cust_info", "w")
f.write(str(detail))
f.close()

print("Data saved successfully!")

Enter name: Ram
Enter DOB: 2003-01-26
Enter mobile: 7894561230
Data saved successfully!

44.	Create a table  cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

In [ ]:
import sqlite3
from datetime import datetime

conn = sqlite3.connect("customer.db")  # Connect to database
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS cust_info (
    sr_no INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    DOB TEXT NOT NULL,
    mobile TEXT NOT NULL
)
""")                              # Creating table

# Name validation
while True:
    name = input("Enter name: ")
    if name.isalpha():
        break
    else:
        print("Invalid name. Only letters allowed.")

# DOB validation
while True:
    dob = input("Enter DOB (YYYY-MM-DD): ")
    try:
        datetime.strptime(dob, "%Y-%m-%d")
        break
    except:
        print("Invalid date format.")

# Mobile validation
while True:
    mobile = input("Enter mobile (10 digits): ")
    if mobile.isdigit() and len(mobile) == 10:
        break
    else:
        print("Invalid mobile number.")

cursor.execute(
    "INSERT INTO cust_info (name, DOB, mobile) VALUES (?, ?, ?)",
    (name, dob, mobile)
)

conn.commit()
conn.close()

print("Record inserted successfully!")

Enter name: Sahil
Enter DOB (YYYY-MM-DD): 2003-01-25
Enter mobile (10 digits): 7887438088
Record inserted successfully!

In [ ]:
#45.sort the dict by values
dict1= {'Key': {'subkey':20} ,  'k2':{'sub2' : 5}, 'k3' : {'sub4' :16},  'k4': {'sub4': 6}}

result_values=sorted(dict1.items(),key=lambda i: list(i[1].values())[0])
dict(result_values)

{'k2': {'sub2': 5},
 'k4': {'sub4': 6},
 'k3': {'sub4': 16},
 'Key': {'subkey': 20}}

In [ ]:
#46.
from datetime import date, datetime
def calculate_age(dob_string):
    today = date.today()
    dob = datetime.strptime(dob_string, "%Y-%m-%d").date()

    age = today.year - dob.year

    if (today.month, today.day) < (dob.month, dob.day): # To Check if birthday has not come yet this year
        age -= 1

    return age

dob = "2002-02-14"
print("Age is:", calculate_age(dob))

Age is: 24

47.	Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [ ]:
from datetime import date, datetime
def check_eligibility(dob_string, eligibility):
    today = date.today()
    dob = datetime.strptime(dob_string, "%Y-%m-%d").date()

    age = today.year - dob.year

    if (today.month, today.day) < (dob.month, dob.day):
        age -= 1
    print("Age is:", age)

    if age >= eligibility:
        print("You are eligible")
        return True
    else:
        print("You are not eligible")
        return False

eligibility = 18
dob = "2002-02-14"

check_eligibility(dob, eligibility)

Age is: 24
You are eligible

True

48.	Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [ ]:
def pali():
  string=input("Enter a string:")
  if string.lower()==string[::-1].lower():
    return "String is palindrome."
  else:
    return "String is not Palindrome."
pali()

Enter a string:nitin

'String is palindrome.'

In [ ]:
#Using Exception:
import sys
def palindrome():
  while True:
    try:
      string=input("Enter a string:")
      if string.upper()==string[::-1].upper():
        print("String is palindrome.")
        return string
      else:
        raise Exception

    except Exception:
      print("String is not Palindrome.")
    except:
      print(sys.exc_info()[1])
palindrome()

Enter a string:Sahas
String is palindrome.

'Sahas'

49.	Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100

In [ ]:
def fib(n):
  a=0
  b=1
  while a<n:
    print(a)
    a,b=b,a+b
fib(100)

0
1
1
2
3
5
8
13
21
34
55
89

50.	Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1

In [ ]:
n=5
fact=1
for i in range(1,n+1):
  fact*=i

print(fact)

120

In [ ]:
#51.	Write a program to find largest number in the list.
list1=[10,20,30,50,60,100,90]
large=list1[i]
for i in list1:
  if i > large:
    large=i
print(large)

100

In [ ]:
#52.	Write a program to check frequency of each element in the list.
l1=[1,2,5,6,4,3,6,1,2]
frq={}
for i in l1:
  if i in frq:
    frq[i]+=1
  else:
    frq[i]=1

frq

{1: 2, 2: 2, 5: 1, 6: 2, 4: 1, 3: 1}

In [ ]:
#53.	There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1 =[ 1,2,3,4,5]
l2 =[3,2,8,7,9]

result=list(set(l1) & set(l2))
print(result)

[2, 3]

In [ ]:
l1 =[ 1,2,3,4,5]
l2 =[3,2,8,7,9]
l=[]
for i in l1:
  if i in l2:
    l.append(i)
l

[2, 3]

54.	Create 3 tables  in mysql having the columns as mentioned
1) user : uid, mobile, passkey, date
2) Product : pid, pname
3) Order : oid, uid, pid

user having  attribute uid, mobile
	      method user sign up
			sign in
			view_products
			view_orders
			place_order
Based on the OOPs concept create classes, methods, attributes and insert information

In [ ]:
class Product:

    products = []

    def __init__(self, pid, pname):
        self.pid = pid
        self.pname = pname
        Product.products.append(self)


class Order:

    orders = []

    def __init__(self, oid, uid, pid):
        self.oid = oid
        self.uid = uid
        self.pid = pid
        Order.orders.append(self)


class User:

    users = []

    def __init__(self, uid, mobile, passkey, date):
        self.uid = uid
        self.mobile = mobile
        self.passkey = passkey
        self.date = date
        User.users.append(self)

    def sign_in(self, mobile, passkey):
        if self.mobile == mobile and self.passkey == passkey:
            print("Login successful")
            return True
        else:
            print("Invalid credentials")
            return False

    def view_products(self):
        print("Available Products:")
        for product in Product.products:
            print(product.pid, product.pname)

    def place_order(self, pid):
        oid = len(Order.orders) + 1
        Order(oid, self.uid, pid)
        print("Order placed successfully")

    def view_orders(self):
        print("Your Orders:")
        for order in Order.orders:
            if order.uid == self.uid:
                print("Order ID:", order.oid, "Product ID:", order.pid)

In [ ]:
Product(1, "Laptop")
Product(2, "Mobile")
Product(3, "Headphones")

u1 = User(1, "9876543210", "1234", "2026-02-15")

if u1.sign_in("9876543210", "1234"):
    u1.view_products()
    u1.place_order(1)
    u1.view_orders()

Login successful
Available Products:
1 Laptop
2 Mobile
3 Headphones
Order placed successfully
Your Orders:
Order ID: 1 Product ID: 1

56.Build a function to print bill. Generate the bill as mentioned below.

In [12]:
a=int(input("Enter a series Numbers:"))
b=input("Enter food name: ")
c=int(input("Enter Quantity: "))
d=int(input("Price of food:"))

print("Plz Pay Bill")
print("-"*50)
print("|{:>35}".format("Welcome to Hotel NIL-SAGAR"))
print("-"*50)

print("|sr","        Menu","           Qunt","         price  |")

print("|{0:<10} {1:<15} {2:<10} {3:>8}  |".format(a,b,c,d))

print("-"*50)
t="Total"
print("|{0:<8} {1:>37}  |".format(t,c*d))
print("-"*50)

Enter a series Numbers:1
Enter food name: Idli
Enter Quantity: 2
Price of food:50
Plz Pay Bill
--------------------------------------------------
|         Welcome to Hotel NIL-SAGAR
--------------------------------------------------
|sr         Menu            Qunt          price  |
|1          Idli            2                50  |
--------------------------------------------------
|Total                                      100  |
--------------------------------------------------